<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title  th:text="#{book.form.title}">Book form</title>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
        <link href=""
              th:href="@{../../../static/css/fileinput.min.css}"
              rel="stylesheet" media="screen" />
    </head>
    <body>
        <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
        <div class="container">
            <h2 th:text="#{book.form.details}">Book Details</h2>
            <div>
                <form class="form-horizontal" th:object="${book}" th:action="@{/admin/book/save}" method="post">
                    <input type="hidden" th:field="*{id}"/>
                    <div class="form-group" th:classappend="${#fields.hasErrors('title')}? 'has-error has-danger'" >
                        <label class="col-sm-2 control-label"  th:text="#{book.title}">Title:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" th:field="*{title}"/>
                            <div  th:if="${#fields.hasErrors('title')}" class="help-block" th:errors="*{title}">Error</div>
                        </div>
                    </div>

                    <div class="form-group" th:classappend="${#fields.hasErrors('description')}? 'has-error has-danger'" >
                        <label class="col-sm-2 control-label"  th:text="#{book.description}">description:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" th:field="*{description}"/>
                            <div  th:if="${#fields.hasErrors('description')}" class="help-block" th:errors="*{description}">Error</div>
                        </div>
                    </div>

                    <div class="form-group" th:classappend="${#fields.hasErrors('img')}? 'has-error has-danger'" >
                        <label class="col-sm-2 control-label"  th:text="#{book.img}">img:</label>
                        <div class="col-sm-10">
                            <input name="uploadfile" th:attr="data-img=${book.img}" data-field="img" class="file" id="img-file" type="file"/>
                            <input type="hidden" th:field="*{img}"/>
                            <div  th:if="${#fields.hasErrors('img')}" class="help-block" th:errors="*{img}">Error</div>
                        </div>
                     </div>

                    <div class="form-group" th:classappend="${#fields.hasErrors('publisher')}? 'has-error has-danger'" >
                        <label class="col-sm-2 control-label"  th:text="#{book.publisher}">publisher:</label>
                        <div class="col-sm-10">
                            <select th:field="*{publisher}" class="form-control">
                                <option th:each="publisher: ${bookPublishers}" th:value="${publisher.id}" th:text="${publisher.title}"></option>
                            </select>
                            <div  th:if="${#fields.hasErrors('publisher')}" class="help-block" th:errors="*{publisher}">Error</div>
                        </div>
                    </div>

                    <div class="form-group" th:classappend="${#fields.hasErrors('authors')}? 'has-error has-danger'">
                        <label class="col-sm-2 control-label"  th:text="#{book.authors}">authors:</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="authors" name="authors" multiple="multiple" size="6">
                                <option th:each="item : ${bookAuthors}" th:value="${item.id}" th:text="${item.firstName} + ' ' + ${item.lastName}" th:field="*{authors}">pulldown</option>
                            </select>
                            <div  th:if="${#fields.hasErrors('authors')}" class="help-block" th:errors="*{authors}">Error</div>
                        </div>
                     </div>

                    <div class="form-group" th:classappend="${#fields.hasErrors('doc')}? 'has-error has-danger'" >
                        <label class="col-sm-2 control-label"  th:text="#{book.doc}">img:</label>
                        <div class="col-sm-10">
                            <input name="uploadfile" th:attr="data-doc=${book.doc}" data-field="doc" class="file" id="doc-file" type="file"/>
                            <input type="hidden" th:field="*{doc}"/>
                            <div  th:if="${#fields.hasErrors('doc')}" class="help-block" th:errors="*{doc}">Error</div>
                        </div>
                    </div>

                    <div class="form-group" th:classappend="${#fields.hasErrors('searchTags')}? 'has-error has-danger'" >
                        <label class="col-sm-2 control-label"  th:text="#{book.searchTags}">searchTags:</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="searchTags" name="searchTags" multiple="multiple">
                                <option th:each="item : ${T(com.example.models.Book.SearchTags).values()}" th:value="${item}" th:text="${item}" th:field="*{searchTags}">pulldown</option>
                            </select>
                            <div  th:if="${#fields.hasErrors('searchTags')}" class="help-block" th:errors="*{searchTags}">Error</div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default" th:text="#{submit.btn}">Submit</button>
                </form>
            </div>
        </div>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
                th:src="@{../../../static/js/vendor/jquery.min.js}"></script>
        <script src=""
                th:src="@{../../../static/js/vendor/fileinput.min.js}"></script>
        <script src=""
                th:src="@{../../../static/js/upload.js}"></script>
    </body>
</html>