<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title th:text="#{book.list.title}">Books</title>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>
    <body>
        <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
        <div class="container">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-envelope h1" th:text="#{book.list.title}"></i> <span class="badge badge-default" th:text="${books.size()}">30</span>
                    <a class="btn btn-danger pull-right" href="#" th:href="@{/admin/book/add}">Add book</a>
                </div>
            </div>
            <div th:if="${not #lists.isEmpty(books)}">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th th:text="#{book.id}">Id</th>
                        <th th:text="#{book.title}">title</th>
                        <th th:text="#{book.description}">description</th>
                        <th th:text="#{book.publisher}">publisher</th>
                        <th th:text="#{book.authors}">authors</th>
                        <th th:text="#{list.actions}">actions</th>
                    </tr>
                    <tr th:each="book : ${books}">
                        <td th:text="${book.id}"><a href="#">Id</a></td>
                        <td th:text="${book.title}">title</td>
                        <td th:text="${book.description}">description</td>
                        <td>
                            <div th:if="${book.publisher != null}">
                                <p th:text="${book.publisher.title}">Lorem ipsum dolor</p>
                            </div>
                        </td>
                        <td>
                            <ul th:each="author : ${book.authors}">
                                <li th:text="${author.firstName} + ' ' + ${author.lastName}" >Lorem Ipsum</li>
                            </ul>
                        </td>
                        <td>
                            <a class="btn" th:href="${'/admin/book/edit/' + book.id}" th:text="#{edit.btn}">Edit</a>
                            <a class="btn" th:href="${'/admin/book/delete/' + book.id}" th:text="#{delete.btn}">Delete</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div th:unless="${not #lists.isEmpty(books)}">
                <!--/*/ <th:block th:include="fragments/emptyList :: list-empty-messages"></th:block> /*/-->
            </div>
        </div>
    </body>
</html>