<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title  th:text="#{user.form.title}">User form</title>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>
    <body>
        <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
        <div class="container">
            <link href=""
                  th:href="@{../../../static/css/fileinput.min.css}"
                  rel="stylesheet" media="screen" />

            <h2 th:text="#{user.form.details}">User Details</h2>
            <form class="form-horizontal" th:object="${user}" th:action="@{/admin/user/create}" method="post">
                <!--/*/ <th:block th:include="fragments/formValidatorMessages :: form-messages"></th:block> /*/-->
                <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error has-danger'" >
                    <label class="col-sm-2 control-label"  th:text="#{user.email}">email:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{email}"/>
                        <div  th:if="${#fields.hasErrors('email')}" class="help-block" th:errors="*{email}">Error</div>
                    </div>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('nick')}? 'has-error has-danger'" >
                    <label class="col-sm-2 control-label"  th:text="#{user.nick}">nick:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{nick}"/>
                        <div  th:if="${#fields.hasErrors('nick')}" class="help-block" th:errors="*{nick}">Error</div>
                    </div>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error has-danger'" >
                    <label class="col-sm-2 control-label"  th:text="#{user.password}">password:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{password}"/>
                        <div  th:if="${#fields.hasErrors('password')}" class="help-block" th:errors="*{password}">Error</div>
                    </div>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('passwordRepeated')}? 'has-error has-danger'" >
                    <label class="col-sm-2 control-label"  th:text="#{user.repeat.password}">passwordRepeated:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{passwordRepeated}"/>
                        <div  th:if="${#fields.hasErrors('passwordRepeated')}" class="help-block" th:errors="*{passwordRepeated}">Error</div>
                    </div>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('role')}? 'has-error has-danger'" >
                    <label class="col-sm-2 control-label"  th:text="#{user.role}">role:</label>
                    <div class="col-sm-10">
                        <select class="form-control" th:field="*{role}" >
                            <option th:each="role : ${T(com.example.models.User.Role).values()}" th:value="${role}" th:text="${role}"></option>
                        </select>
                        <div  th:if="${#fields.hasErrors('role')}" class="help-block" th:errors="*{role}">Error</div>
                    </div>
                </div>
                <button type="submit" class="btn btn-default" th:text="#{submit.btn}">Submit</button>
            </form>
        </div>
    </body>
</html>