<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title th:text="#{user.list.title}">Users</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<div class="container">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-envelope h1" th:text="#{user.list.title}"></i> <span class="badge badge-default" th:text="${users.size()}">30</span>
            <a class="btn btn-danger pull-right" href="#" th:href="@{/admin/user/create}">Create user</a>
        </div>
    </div>
    <div th:if="${not #lists.isEmpty(users)}">
        <table class="table table-striped table-bordered">
            <tr>
                <th th:text="#{user.id}">id</th>
                <th th:text="#{user.email}">email</th>
                <th th:text="#{user.nick}">nick</th>
                <th th:text="#{user.role}">role</th>
            </tr>
            <tr th:each="userItem : ${users}">
                <td th:text="${userItem.id}"><a href="#">id</a></td>
                <td th:text="${userItem.email}">email</td>
                <td th:text="${userItem.nick}">nick</td>
                <td th:text="${userItem.role}">role</td>
            </tr>
        </table>
    </div>
    <div th:unless="${not #lists.isEmpty(users)}">
        <!--/*/ <th:block th:include="fragments/emptyList :: list-empty-messages"></th:block> /*/-->
    </div>
</div>
</body>
</html>