<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title th:text="#{login.title}"></title>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>
    <body>
        <div class="row">
            <div class="col-md-8">
                <div class="page-header">
                    <h1><small class="pull-right">45 comments</small> Comments </h1>
                </div>
                <div class="comments-list">
                    <div class="media">
                        <p class="pull-right"><small>5 days ago</small></p>
                        <a class="media-left" href="#">
                        </a>
                        <div class="media-body">

                            <h4 class="media-heading user_name">Baltej Singh</h4>
                            Wow! this is really great.

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>