<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title th:text="#{login.title}"></title>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>
    <body>
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-offset-4 col-md-4">
                    <form class="form-horizontal" th:action="@{/login}" method="post">
                        <div th:if="${param.error}">
                            <div th:replace="fragments/alert :: alert (type='danger', message=#{login.invalid.parameters.message})">param.error</div>
                        </div>
                        <h2 th:text="#{login.form.title}">Please log in</h2>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"  th:text="#{login.email}">Email:</label>
                            <div class=" col-sm-offset-1 col-sm-9">
                                <input type="text" class="form-control" name="email"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"  th:text="#{login.password}">Password:</label>
                            <div class="col-sm-offset-1 col-sm-9">
                                <input type="text" class="form-control" name="password"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="remember-me" th:text="#{login.remember}"/>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-default" type="submit" th:text="#{sign.in.btn}">Sign in</button>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="text-center">
                                        <a th:href="@{/registration}" class="forgot-password" th:text="#{login.registration.link}">Registration</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>