<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title  th:text="#{registration.title}">Registration</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-offset-4 col-md-4">
                <h2 th:text="#{registration.title}">Registration</h2>
                <form class="form-horizontal" th:object="${userForm}" th:action="@{/doRegistration}" method="post">
                    <!--/*/ <th:block th:include="fragments/formValidatorMessages :: form-messages"></th:block> /*/-->
                    <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error has-danger'" >
                        <label class="col-sm-2 control-label"  th:text="#{user.email}">email:</label>
                        <div class="col-sm-9 col-sm-offset-1">
                            <input type="text" class="form-control" th:field="*{email}"/>
                            <div  th:if="${#fields.hasErrors('email')}" class="help-block" th:errors="*{email}">Error</div>
                        </div>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('nick')}? 'has-error has-danger'" >
                        <label class="col-sm-2 control-label"  th:text="#{user.nick}">nick:</label>
                        <div class="col-sm-9 col-sm-offset-1">
                            <input type="text" class="form-control" th:field="*{nick}"/>
                            <div  th:if="${#fields.hasErrors('nick')}" class="help-block" th:errors="*{nick}">Error</div>
                        </div>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error has-danger'" >
                        <label class="col-sm-2 control-label"  th:text="#{user.password}">password:</label>
                        <div class="col-sm-9 col-sm-offset-1">
                            <input type="text" class="form-control" th:field="*{password}"/>
                            <div  th:if="${#fields.hasErrors('password')}" class="help-block" th:errors="*{password}">Error</div>
                        </div>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('passwordRepeated')}? 'has-error has-danger'" >
                        <label class="col-sm-2 control-label"  th:text="#{user.repeat.password}">passwordRepeated:</label>
                        <div class="col-sm-9 col-sm-offset-1">
                            <input type="text" class="form-control" th:field="*{passwordRepeated}"/>
                            <div  th:if="${#fields.hasErrors('passwordRepeated')}" class="help-block" th:errors="*{passwordRepeated}">Error</div>
                        </div>
                    </div>
                    <input type="hidden" th:value="${T(com.example.models.User.Role).USER}" name="role"/>
                    <button type="submit" class="btn btn-default" th:text="#{submit.btn}">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>