<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title  th:text="#{publisher.form.title}">Publisher form</title>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>
    <body>
        <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
        <div class="container">
            <h2 th:text="#{publisher.form.details}">Publisher Details</h2>
            <form class="form-horizontal" th:object="${publisher}" th:action="@{/admin/publisher/save}" method="post">
                <!--/*/ <th:block th:include="fragments/formValidatorMessages :: form-messages"></th:block> /*/-->
                <input type="hidden" th:field="*{id}"/>
                <div class="form-group" th:classappend="${#fields.hasErrors('title')}? 'has-error has-danger'" >
                    <label class="col-sm-2 control-label"  th:text="#{publisher.title}">Title:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{title}"/>
                        <div  th:if="${#fields.hasErrors('title')}" class="help-block" th:errors="*{title}">Error</div>
                    </div>
                </div>
                <button type="submit" class="btn btn-default" th:text="#{submit.btn}">Submit</button>
            </form>
        </div>
    </body>
</html>