<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title th:text="#{publisher.list.title}">Publishers</title>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>
    <body>
        <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
        <div class="container">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-envelope h1" th:text="#{publisher.list.title}"></i> <span class="badge badge-default" th:text="${publishers.size()}">30</span>
                    <a class="btn btn-danger pull-right" href="#" th:href="@{/admin/publisher/add}">Add publisher</a>
                </div>
            </div>
            <div th:if="${not #lists.isEmpty(publishers)}">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th th:text="#{publisher.id}">id</th>
                        <th th:text="#{publisher.title}">title</th>
                        <th th:text="#{list.actions}">actions</th>
                    </tr>
                    <tr th:each="publisherItem : ${publishers}">
                        <td th:text="${publisherItem.id}"><a href="#">id</a></td>
                        <td th:text="${publisherItem.title}">title</td>
                        <td>
                            <a class="btn" th:text="#{edit.btn}" th:href="${'/admin/publisher/edit/' + publisherItem.id}">Edit</a>
                            <a class="btn" th:text="#{delete.btn}" th:href="${'/admin/publisher/delete/' + publisherItem.id}">Delete</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div th:unless="${not #lists.isEmpty(publishers)}">
                <!--/*/ <th:block th:include="fragments/emptyList :: list-empty-messages"></th:block> /*/-->
            </div>
        </div>
    </body>
</html>