<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
     </head>
    <body>
        <div th:fragment="alert (type, message)" class="alert" th:classappend="'alert-' + ${type}">
            <span th:text="${message}">Test</span>
        </div>
    </body>
</html>