<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
    </head>
    <body>
        <div th:fragment="list-empty-messages">
            <div th:text="#{list.empty}" class="alert alert-info fade in">
                List empty
            </div>
        </div>
    </body>
</html>