<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head lang="en">
    </head>
    <body>
        <div class="container">
            <div th:fragment="header">
                <nav class="header navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">E.L.</a>
                        </div>
                        <ul class="nav navbar-nav">
                            <li><a href="#" th:href="@{/}">Home</a></li>
                        </ul>
                        <ul class="nav navbar-nav" sec:authorize="hasAuthority('ADMIN')">
                            <li><a href="#" th:href="@{/admin/books}">Books</a></li>
                            <li><a href="#" th:href="@{/admin/authors}">Authors</a></li>
                            <li><a href="#" th:href="@{/admin/publishers}">Publishers</a></li>
                            <li><a href="#" th:href="@{/admin/users}">User</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li sec:authorize="isAnonymous()">
                                <a th:href="@{/login}" class="login-btn" th:text="#{log.in.btn}">Login</a>
                            </li>
                            <li sec:authorize="isAuthenticated()">
                                <a th:text="${#authentication.principal.user.nick}">Bob</a>
                            </li>
                            <li sec:authorize="isAuthenticated()" class="login-btn">
                                <a th:href="@{/logout}" th:text="#{log.out.btn}">Logout</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </body>
</html>