<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en" th:fragment="head">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
              rel="stylesheet" media="screen" />
        <link href=""
              th:href="@{../../static/css/general.css}"
              rel="stylesheet" media="screen" />

        <script src="http://cdn.jsdelivr.net/webjars/jquery/3.0.0/jquery.min.js"
                th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    </head>
    <body>
    </body>
</html>