<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
    <!--/*/ <th:block th:include="headerinc :: head"></th:block> /*/-->
    </head>
    <body>
        <div th:fragment='paginationbar'>
            <div class="table-pagination">
                <ul class='pagination pagination-centered'>
                    <li th:class="${page.firstPage} ? 'disabled' : ''">
                        <span th:if='${page.firstPage}'>← First</span>
                        <a th:if='${not page.firstPage}' th:href='@{${page.url}(page=0, size=${page.size})}'>← First</a>
                    </li>
                    <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
                        <span th:if='${not page.hasPreviousPage}'>«</span>
                        <a th:if='${page.hasPreviousPage}' th:href='@{${page.url}(page=${page.number-1}, size=${page.size})}' title='Go to previous page'>«</a>
                    </li>
                    <li th:each='item : ${page.items}' th:class="${item.current}? 'active' : ''">
                        <span th:if='${item.current}' th:text='${item.number + 1}'>1</span>
                        <a th:if='${not item.current}' th:href='@{${page.url}(page=${item.number}, size=${page.size})}'><span th:text='${item.number + 1}'>1</span></a>
                    </li>
                    <li th:class="${page.hasNextPage}? '' : 'disabled'">
                        <span th:if='${not page.hasNextPage}'>»</span>
                        <a th:if='${page.hasNextPage}' th:href='@{${page.url}(page=${page.number+1}, size=${page.size})}' title='Go to next page'>»</a>
                    </li>
                    <li th:class="${page.lastPage}? 'disabled' : ''">
                        <span th:if='${page.lastPage}'>Last →</span>
                        <a th:if='${not page.lastPage}' th:href='@{${page.url}(page=${page.totalPages}, size=${page.size})}'>Last →</a>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>