.item-block {
    padding: 10px;
}

.item-block img {
    height: 300px;
    width: 100%;
}

.book-img {
    height: 500px;
    width: 100%;
}

.user_name{
    font-size:14px;
    font-weight: bold;
}
.comments-list .media{
    border-bottom: 1px dotted #ccc;
}

.comment-container {
    margin-top: 20px;
    margin-bottom: 50px;
}

.media {
    height: 50px;
}

.book-block {
    border-bottom: 1px solid #eee;
    margin-bottom: 50px;
}

.hide {
    display: none
}