.admin-img {
    width: 304px;
    height: 230px;
}

.footer {
    background: #337ab7;
    margin-top: 100px;
    color: #ffffff;
    text-align: center;
 }

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}

.header {
    background: #337ab7;
}

.navbar-default .navbar-brand{
    color: #ffffff !important;
}





