<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head lang="en">
        <title th:text="#{show.book.title}">Book show</title>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
        <link href=""
              th:href="@{../../static/css/bookBlock.css}"
              rel="stylesheet" media="screen" />
    </head>
    <body>
        <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" th:text="${book.title}">Title</h1>
                </div>
            </div>
            <div class="row book-block">
                <div class="col-md-8">
                    <img  th:if="${book.img != ''}" class="img-responsive book-img" th:src="${'/show/' + book.img}" th:alt="${book.title}"/>
                    <img  th:unless="${book.img != ''}" class="img-responsive book-img" th:src="${'../../static/test/testimg.jpg'}" th:alt="${book.title}"/>
                    <h2>
                        <a th:if="${book.doc != ''}" th:href="${'/download/' + book.doc }" >
                            Download
                            <i class="fa fa-download"></i>
                            <span class="glyphicon glyphicon-download" aria-hidden="true">
                            </span>
                        </a>
                        <a th:unless="${book.doc != ''}" th:href="${'../../static/test/text.pdf'}" download="text.pdf" >
                            Download
                            <i class="fa fa-download"></i>
                            <span class="glyphicon glyphicon-download" aria-hidden="true">
                            </span>
                        </a>
                    </h2>
                </div>
                <div class="col-md-4">
                    <h3 th:text="#{show.book.description}">Description</h3>
                    <p th:text="${book.description}">Lorem ipsum dolor</p>

                    <div th:if="${book.publisher != null}">
                        <h3 th:text="#{show.book.publisher}">Publisher</h3>
                        <p th:text="${book.publisher.title}">Lorem ipsum dolor</p>
                    </div>

                    <div th:if="${not #lists.isEmpty(book.authors)}">
                        <h3 th:text="#{show.book.authors}">Authors</h3>
                        <ul th:each="author : ${book.authors}">
                            <li th:text="${author.firstName} + ' ' + ${author.lastName}" >Lorem Ipsum</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row" sec:authorize="isAuthenticated()">
                <div class="alert alert-danger hide col-lg-8" id="comment-error">
                    <strong>Error!</strong> Please contact to administrator
                </div>
                <form role="form" method="post" id="comment-form" class="col-md-8" th:action="@{/comment/add}" >
                    <input type="hidden" name="user_id" th:value="${#authentication.principal.user.id}"/>
                    <input type="hidden" name="book_id" th:value="${book.id}"/>
                    <div class="form-group">
                        <textarea class="form-control" rows="3" name="comment" id="comment"></textarea>
                    </div>
                    <button type="submit" class="pull-right btn btn-default" th:text="#{submit.btn}">Submit</button>
                </form>
            </div>
            <div class="row" sec:authorize="not isAuthenticated()">
                <div class="alert alert-info fade in">
                    Only authenticated user can add comments
                </div>
            </div>
            <div class="row">
                <div class="comment-container">
                    <div class="col-md-8">
                        <div class="page-header">
                            <h1><small class="pull-right" id="comments-count" th:text="${book.comments.size() + ' comments'}">45 comments</small> Comments </h1>
                        </div>
                        <div id="comments" class="comments-list">
                            <div class="media" th:each="comment : ${bookComments}">
                                <p class="pull-right"><small th:text="${'Post date ' + comment.postDate}"></small></p>
                                <div class="media-body">
                                    <h4 class="media-heading user_name" th:text="${comment.user.getNick()}">Baltej Singh</h4>
                                    <span th:text="${comment.text}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src=""
                th:src="@{../../static/js/comments.js}"></script>
    </body>
</html>