<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Error page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>
    <body>
        <div th:object="${exception}" class="alert alert-danger">

            Exception: <span  th:field="*{message}">Test</span>

            Stack Trace: <div th:each="trace : *{stackTrace}">
                            <div  th:text="${trace}">Test</div>
                         </div>

        </div>
    </body>
</html>