<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
    <head lang="en">
        <title th:text="#{library.title}">Electronic Library</title>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
        <link href=""
              th:href="@{../static/css/bookBlock.css}"
              rel="stylesheet" media="screen" />
    </head>
    <body>
        <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
        <div class="container">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form th:action="@{/}" class="form-inline" method="post">
                            <div class="form-group">
                                <label class="filter-col" style="margin-right:0;" >Tag:</label>
                                <select class="form-control" name="searchTag">
                                    <option value=""></option>
                                    <option th:each="tag : ${T(com.example.models.Book.SearchTags).values()}" th:value="${tag}" th:selected="${ tag==searchTag } " th:text="${tag}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="filter-col" style="margin-right:0;" for="title">Search:</label>
                                <input type="text" id="title" name="title" class="form-control" placeholder="Title" th:value="${title}" />
                            </div>
                            <div class="form-group">
                                <button  type="submit" class="btn btn-primary">
                                    Filter
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div th:each="book : ${page.content}">
                    <div class="col-md-6 col-xs-12 portfolio-item item-block">
                        <a  th:href="${'book/show/' + book.id}">
                            <img  th:if="${book.img != ''}" class="img-responsive" th:src="${'/show/' + book.img}" th:alt="${book.title}"/>
                            <img  th:unless="${book.img != ''}" class="img-responsive" th:src="${'../static/test/testimg.jpg'}" th:alt="${book.title}"/>
                        </a>
                        <h2 th:text="${book.title}"></h2>
                    </div>
                </div>
                <div th:unless="${not #lists.isEmpty(page.content)}">
                    <!--/*/ <th:block th:include="fragments/emptyList :: list-empty-messages"></th:block> /*/-->
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <!--/*/ <th:block th:include="fragments/paginationbar :: paginationbar"></th:block> /*/-->
            </div>
        </div>

    </body>
</html>