<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title th:text="#{author.form.title}">Author form</title>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>
    <body>
        <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
        <div class="container">
            <h2 th:text="#{author.form.details}">Author Details</h2>
            <form class="form-horizontal" th:object="${author}" th:action="@{/admin/author/save}" method="post">
                <!--/*/ <th:block th:include="fragments/formValidatorMessages :: form-messages"></th:block> /*/-->
                <input type="hidden" th:field="*{id}"/>
                <div class="form-group" th:classappend="${#fields.hasErrors('firstName')}? 'has-error has-danger'" >
                    <label class="col-sm-2 control-label"  th:text="#{author.firstName}">firstName:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{firstName}"/>
                        <div  th:if="${#fields.hasErrors('firstName')}" class="help-block" th:errors="*{firstName}">Error</div>
                    </div>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('lastName')}? 'has-error has-danger'" >
                    <label class="col-sm-2 control-label"  th:text="#{author.lastName}">lastName:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{lastName}"/>
                        <div  th:if="${#fields.hasErrors('firstName')}" class="help-block" th:errors="*{lastName}">Error</div>
                    </div>
                </div>
                <button type="submit" class="btn btn-default" th:text="#{submit.btn}">Submit</button>
            </form>
        </div>
    </body>
</html>