<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title th:text="#{author.list.title}">Authors</title>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>
    <body>
        <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
        <div class="container">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-envelope h1" th:text="#{author.list.title}"></i> <span class="badge badge-default" th:text="${authors.size()}">30</span>
                    <a class="btn btn-danger pull-right" href="#" th:href="@{/admin/author/add}">Add author</a>
                </div>
            </div>
            <div th:if="${not #lists.isEmpty(authors)}">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th th:text="#{author.id}">Id</th>
                        <th th:text="#{author.firstName}">firstName</th>
                        <th th:text="#{author.lastName}">description</th>
                        <th th:text="#{list.actions}">actions</th>
                    </tr>
                    <tr th:each="authorItem : ${authors}">
                        <td th:text="${authorItem.id}"><a href="#">Id</a></td>
                        <td th:text="${authorItem.firstName}">firstName</td>
                        <td th:text="${authorItem.lastName}">lastName</td>
                        <td>
                            <a class="btn" th:href="${'/admin/author/edit/' + authorItem.id}">Edit</a>
                            <a class="btn" th:href="${'/admin/author/delete/' + authorItem.id}">Delete</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div th:unless="${not #lists.isEmpty(authors)}">
                <!--/*/ <th:block th:include="fragments/emptyList :: list-empty-messages"></th:block> /*/-->
            </div>
        </div>
    </body>
</html>